/* style.css */

body {
    font-family: "Times New Roman", Times, serif; /* Times New Roman fallback */
    font-style: italic; /* Make text italic */
    text-align: center;
    margin: 0;
    background-color: #FADADD;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#image-container {
    /* This container will hold the images */
}

#question {
    font-size: 52px;
}

#options {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 26px;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    background-color: #FB607F;
    color: white;
    border: none;
    cursor: pointer;
}
